body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbi6CoWpuVdQMJwhGbogMvGqX562eRe-fyeI3cmMv_3_bY9K8:https://le-cdn.hibuwebsites.com/c1e932e581c946a1aebd4679e044bf4a/dms3rep/multi/opt/slash%2B4x4%2Bbl2s-640w.png&s") no-repeat center center fixed;
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}